# Ignorar dependências e builds
node_modules/
.next/
dist/
build/

# Ambiente e credenciais
.env
.env.*

# Logs e caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel/
.cache/
coverage/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/